body {
  font: 14px ,'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(white 0%, white 100%);
  margin: 0;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
   background-size: contain;
}

a {
  color: #327bab;
}

h1 {
	text-align: left;
	color: black;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D43F3A;
}

li {
    float: right;
} 

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

li a:hover {
    background-color: #e5635e;
    color:white;
}

.commentPadding {
	padding-bottom: 10px;
}


.mHeader {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: left;
  margin-bottom: 35px;
  border-bottom: 1px solid #327bab;
}

